.about {
    background-color: $color-light-xl;

    &__content {        
        padding: 80px 175px 100px;
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include media-tablet {        
            padding: 80px calc(135/708 * 100%) 100px;
            justify-content: center;
        }

        @include media-mobile {        
            padding: 42px 0px;
        }
    }

    &__text {        
        flex: 0 0 430px;  

        @include media-mobile {
            padding: 0px 15px;        
            flex: 0 1 auto;
            max-width: 500px;
        }      
    }

    &__img {
        flex: 0 1 auto;

        @include media-tablet {
            order: 2;
            margin-top: 80px;
            padding: 0 20px;
        }

        @include media-mobile {
            margin-top: 42px;
            padding: 0 20px;
        }
    }

    &__heading-3 {
        @include h-3;
        color: $color-dark-l;

        @include media-mobile {
            @include h-3-mobile;
            text-align: center
        }
    }

    &__subheading {
        @include paragraph-l;
        color: $color-dark-xl;
        p {
            margin-top: 25px;

            @include media-mobile {
                text-align: justify;
                &:last-child{                
                margin-top: 22px;
                }
            }
        }
    }
}