.address {
    &__title {
        @include h-3;
        color: $color-light-xl;        

        @include media-mobile {
            @include h-3-mobile;
            width: 27/30*100%;
            margin: 0 auto;
        }
    }
    &__content {
        text-decoration: none;
        text-align: start;
        margin-top: 33px;
        display: flex;
        align-items: center;
        p {
            @include h-4;
            color: $color-primary;
            margin-left: 20px;                    
        }        

        @include media-mobile {
            margin-top: 40px;            
            p {
            margin-left: 18px;                    
            } 
        }
    }
    &__icon {
        flex: 0 0 auto;
    }    
}