%burgerline_light {
    content: "";
    border: 1px solid $color-primary;
    background: $color-primary;
}

%burgerline_dark {
    content: "";
    border: 1px solid #000000;
    background: #000000;
}

%burger-content {
    width: 30px;
    height: 30px;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    @include transition-standart;
}

.burger {
    @include transition-standart;
    z-index: 101;

    &_open{
        transform: rotate(90deg);
    }

    &__content_light {
        @extend %burger-content;

        &::before{
            @extend %burgerline_light;
        }       
            
        &::after{
            @extend %burgerline_light;
        }    
    }

    &__line_light {
        @extend %burgerline_light;
    }    

    &__content_dark {
        @extend %burger-content;  

        &::before{
            @extend %burgerline_dark;
        }       
            
        &::after{
            @extend %burgerline_dark;
        }    
    }

    &__line_dark {
        @extend %burgerline_dark;
    }
}
