
.btn-fill {
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-dark-3-xl;
    @include button;
    padding: 15px 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease 0s;

    &:hover {
        background-color: $color-primary-light;
        cursor: pointer;
    }
}

.btn-border {
    border: 2px solid $color-primary;
    border-radius: 100px;
    color: $color-dark-3-xl;
    @include button;
    padding: 13px 43px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease 0s;

    &:hover {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
        cursor: pointer;
    }
}

.btn-round {
    border: 2px solid $color-primary;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    text-decoration: none;
    @include h-4;
    color: $color-dark-3-xl;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease 0s;

    &:hover {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
        cursor: pointer;
    }
}

.btn-round_active {
    background-color: $color-primary;        
    border: 2px solid $color-primary;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    text-decoration: none;        
    @include h-4;
    color: $color-dark-3-xl;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: default;
}    

.btn-round_disabled {       
    border: 2px solid $color-dark-s;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    text-decoration: none;        
    @include h-4;
    color: $color-dark-s;
    cursor: default;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease 0s;
}