.icons {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 55px 60px 0px;

        @include media-tablet {
            flex: 0 1 calc(170/708 * 100%);
            margin: 55px 30px 0px;
        }

        @include media-mobile {
            flex: 0 1 calc(140/300 * 100%);
            margin: 30px 0px 0px;
            align-content: space-between;
        }
    }
    &__icon {
        text-align: center;

        @include media-mobile {
            width: 50px;
        }
    }
    &__title {
        @include h-4;
        color: $color-dark-l;
        text-align: center;
        margin-top: 30px;

        @include media-mobile {
            @include h-5;
            margin-top: 20px;
        }
    }
}