.modal {
    &_overlay {
        @include overlay;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {            
            cursor: pointer;
        }
    }
    &__content {
        height: 500px;
        width: 900px;
        background: $color-light-s;
        border-radius: 9px;
        display: flex;
        align-items: flex-start;
        position: relative;
        cursor: default;

        &:hover {
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);     
            .btn-round {
                border: 2px solid $color-primary;
                background: none;
                cursor: pointer;
            }
        }
        
        .btn-round {
            border: 2px solid $color-primary-light;
            background: $color-primary-light;
            &:hover {
                border: 2px solid $color-primary-light;
                background: $color-primary-light;
            }
        }




        @include media-tablet {
            width: 630px;
            height: 350px;
        }

        @include media-mobile {
            width: 240px;
            height: 341px;
        }    

    }
    &__btn {
        position: absolute;
        top: -52px;
        right: -42px;

        @include media-mobile {
            right: -30px;
        }
    }
    &__img {
        height: 100%;
        img {
            height: 100%;
            border-radius: 9px;
        }
        @include media-mobile {
            display: none;
        }        
    }
    &__info {
        margin: 50px 0 0 30px;
        max-width: 350px;
        max-height: 400px;
        overflow: auto;

        @include media-tablet {
            margin: 10px;
            max-width: 260px;
            max-height: 330px;
        }

        @include media-mobile {
            text-align: center;
        }    
    }     
}
.info {
    &__name {
        margin-bottom: 10px;
        @include h-3;
    }
    &__type {
        @include h-4;
    }
    &__description {
        @include h-5;
        margin: 40px 0;

        @include media-tablet {
            margin: 20px 0;
            font-size: 13px;
            line-height: 14.1px;
            letter-spacing: 0.059em;
        }

        @include media-mobile {
            margin: 20px 0 24px 0;
            text-align: justify;
        }
    }
    &__details {
        @include h-5;
        // letter-spacing:1.2px;
        .span_bold {
            @include h-5-modal-window;
        }
    }
}
.details {
    &__item {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        text-align: left;

        @include media-tablet {
            margin-bottom: 5px;
        }

        &::before {
            content: "";
            border: 1px solid $color-primary;
            background: $color-primary;
            border-radius: 50%;
            min-height: 4px;
            min-width: 4px;
            margin: 7px 10px auto 1px;

            @include media-tablet {
                margin: 7px 10px auto 0;
            }
        }
    }
}
