.pets {
    background-color: $color-light-l;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0px 100px;

        @include media-mobile {            
            padding: 42px 0;
        }      
    }
    &__title {
        @include h-3;
        color: $color-dark-l;
        text-align: center;
        width: 100%;

        @include media-mobile {            
            @include h-3-mobile;
        }      
    }
    &__slider {
        margin: 60px 0px;
        align-self: stretch;

        @include media-mobile {
            margin: 42px 0px;
        }      
    }    
    &__button {
        flex: 0 0 auto;
    }
}