.slider {
    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__arrow-next {
        transform: scaleX(-1);
        flex: 0 0 52px;

        @include media-mobile {            
            order: 3;
            margin-left: 40px;
        }    
    }

    &__arrow-prev {
        flex: 0 0 52px;

        @include media-mobile {            
            order: 2;
            margin-right: 40px;
        }     
    }

    &__cards {
        display: flex;
        flex: 0 1 990px;
        margin: 0 53px;
        justify-content: space-between;
        overflow: hidden;

        @include media-tablet {
            flex: 0 1 calc(580/708 * 100%);
            max-width: 720px;
            margin: 0 12px;

            >div {
                margin-right: calc(100% - 2*270px);
            }
        }

        @include media-mobile {
            flex: 0 1 calc(270/300 * 100%);
            margin: 0;
            margin-bottom: 20px;
            order: 1;

            >div {
                margin: 0 calc((100% - 270px)/2);
            }
        }
    }

    &__card {
        //  this vars dont work in calc by smth reason
        $margin-card-desktop: calc((100% - 3*270px)/2);
        $margin-card-tablet: calc(100% - 2*270px);
        $margin-card-mobile: calc((100% - 270px)/2);

        margin-right: $margin-card-desktop;
        position: relative;
        left: calc(-100% - calc((100% - 3*270px)/2));
        
        @include media-tablet {            
            margin-right: $margin-card-tablet;
            left: calc(-100% - calc(100% - 2*270px));
        }

        @include media-mobile {
            margin: 0 $margin-card-mobile;
            left:-100%
        }        

        &_moved-left {
            left: 0;
        }

        &_moved-right {
            left: calc((-100% - calc((100% - 3*270px)/2))*2);

            @include media-tablet {            
                left: calc((-100% - calc(100% - 2*270px))*2);
            }

            @include media-mobile {
                left:-200%
            }
        }
    }
}