// Device brakepoints
$br-s: 319px;
$br-m: 767px;
$br-l:1279px;

// Wrapper width
$Width-Wrapper-s: calc(100% - 20px);
$Width-Wrapper-m: calc(100% - 60px);
$Width-Wrapper-l: 1200px;

/* Color styles */
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2-xl: #444444;
$color-dark-3-xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #211f20;
$footer-gradient-background: #211f20;